<section>
  <%= render "currency_pie_chart" %>
  <h1>Currencies</h1>
  <%= form_tag currencies_users_path, method: "POST", remote: true do %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Status</th>
          <th>
            <%= check_box_tag :all, true, true,id: "select_all_currencies" %>
            <%= submit_tag "Visit" %>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody id="currencies">  
        <% @currencies.each do |currency| %>
          <%= render currency%>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>


<script type="text/javascript">
  $(function(){
    check_uncheck_all("#select_all_currencies", ".currency_check")
  })
</script>