<tr id="country_<%= country.code %>">
    <td><%= country.name %></td>
    <td><%= country.code %></td>
    <td><%= country.visited_by?(current_user) ? 'Visited' : 'Not Visited' %></td>
    <td><%= check_box_tag "country_ids[]", country.code, country.visited_by?(current_user), class: "country_check" %></td>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
</tr>