<section>
  <div id="visited_countries_chart" class="simple_pie_chart" width='300px' height='100px'>
    <table>
      <tr>
        <th>Visited</th>
        <td><%= Country.visited.count %></td>
      </tr><tr>
        <th>Not Visited</th>
        <td><%= Country.not_visited.count %></td>
      </tr>
    </table>
  </div>

  <h1>Countries</h1>
  <%= form_tag countries_users_path, method: "POST" do %>
    <%= submit_tag "Visit" %>
    <table>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Status</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @countries.each do |country| %>
      <tr>
        <td><%= country.name %></td>
        <td><%= country.code %></td>
        <td><%= country.visited_by?(current_user) ? 'Visited' : 'Not Visited' %></td>
        <td><%= check_box_tag "country_ids[]", country.code, country.visited_by?(current_user) %></td>
        <td><%= link_to 'Show', country %></td>
        <td><%= link_to 'Edit', edit_country_path(country) %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</section>