<section>
  <%= render "country_pie_chart" %>

  <h1>Countries</h1>
  <div class="search_div">
    Filter by Name
    <%= text_field_tag :search, "" , id: "search_text"%>
  </div>
  <%= form_tag countries_users_path, method: "POST", remote: true do %>
    <table>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Status</th>
        <th>
          <%= check_box_tag :all, true, true,id: "select_all_countries" %>
          <%= submit_tag "Visit" %>
        </th>
        <th></th>
        <th></th>
      </tr>
      <tbody id="countries">
        <% @countries.each do |country| %>
          <%= render country%>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>

<script type="text/javascript">
  $(function(){
    check_uncheck_all("#select_all_countries", ".country_check")
    filter("table", "#search_text")
  })
</script>